@font-face {
  font-family: "ShareTechMono";
  src: url("assets/fonts/ShareTechMono-Regular.ttf");
}

:root {
  --font: "ShareTechMono", Arial, Helvetica, sans-serif;

  --color-dark: rgb(100, 58, 143);
  --color-white: white;
  --color-light: rgb(252, 239, 252);
  --color-bg: thistle;
  --color-output: violet;

  --color-hover: var(--color-light);

  --card-padding: 24px;
  --card-border-radius: 12px;
  --card-color-light: var(--color-white);
  --card-color-dark: var(--color-dark);
}

::selection {
  color: var(--color-output);
  background: var(--color-bg);
}

body {
  background-color: var(--color-bg);
  font-family: var(--font);
}

h1#pageTitle {
  margin: 75px 0;
}

#app {
  max-width: 820px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: var(--card-color-light);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  overflow: hidden;
}

.card.dark {
  background-color: var(--card-color-dark);
}

#billForm > *:not(:last-child) {
  margin-bottom: 32px;
}

.row {
  display: flex;
}
.row .col:not(:last-child) {
  margin-right: var(--card-padding);
}
.col {
  flex: 1;
}

#resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#outputValuesContainer > *:not(:last-child) {
  margin-bottom: 16px;
}

button#resetButton {
  height: 40px;
  line-height: 40px;
  font-size: medium;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: var(--font);
  color: var(--color-dark);
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
button#resetButton:disabled {
  pointer-events: none;
  cursor: default;
}
button#resetButton:hover {
  background-color: var(--color-hover);
  color: var(--color-dark);
}
button#resetButton:active {
  background-color: var(--color-bg);
  color: var(--color-white);
}
